@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Slabo+27px&display=swap');
*{
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", serif;
}
.hero  h1{
    margin-top: 6rem;
   text-align: center;

}

.footer-sub-container{
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
}

.footer-sub-container ul li a{
    text-decoration: none;
    color: gray;
    font-weight: 500;
    
}
.footer-sub-container ul li i {
    margin: .7rem; 
      
}
.footer-sub-container .content-2  h6{
   margin-left: 2rem;

}
.footer-sub-container ul li a:hover{

    color: rgb(35, 94, 35);
    
}

